[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pydantic = "~=1.9"

[dev-packages]
bandit = "*"
build = "*"
pycodestyle = "*"
pytest = "*"
pytest-datadir = "*"
twine = "*"

[requires]
python_version = "3.8"
