[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pydantic = "*"

[dev-packages]
bandit = "*"
build = "*"
pycodestyle = "*"
pytest = "*"
pytest-datadir = "*"
twine = "*"
